
*
	box-sizing: border-box
	outline: none
	&:after,
	&:before
		box-sizing: inherit

html
	+selection
		background: rgba(255, 255, 255, .2)
		color: #000

html, body
	height: 100%
	background-color: #fff
body
	color: #fff
	font-size: 16px
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-text-size-adjust: none
	-ms-text-size-adjust: none
	text-size-adjust: none

a
	text-decoration: none
	outline: none

img
	max-width: 100%
q
	&:before,
	&:after
		content: none

button
	background-color: $n
	border: none
	outline: none
	padding: 0
	cursor: pointer

h1, h2, h3, h4, h5, h6
	margin: 0 0 .8em
	font-weight: normal
	line-height: 1.1
h1
	font-size: 2em
h2
	font-size: 1.8em
h3
	font-size: 1.6em
h4
	font-size: 1.5em
h5
	font-size: 1.4em
h6
	font-size: 1.3em

b, strong
	font-weight: normal
p
	margin: 0

.page
	&__wrapper
		position: relative
		padding-top: 1px
		min-height: 100vh
		padding-bottom: 99px// footer height - 1px

.layout
	max-width: 1170px
	width: 100%
	padding: 0 15px
	margin: 0 auto

.section
	padding: 55px 0 60px
	background-color: $white
	color: #000
	+mr
	&-gray
		background-color: #e7e7e7
	.title__main
		text-align: center
		color: $black
		margin-bottom: 2.2em

.justified
	display: flex
	justify-content: space-between
	// overflow: hidden
	+r(1024)
		flex-wrap: wrap

	&__item
		position: relative
		width: 47%
		display: flex
		align-items: center
		justify-content: center
		+r(1024)
			width: 100%
.merits
	padding: 0
	margin: 0
	list-style: none
	+r(1024)
		margin-bottom: 30px
	+r(450)
		margin-bottom: 0
	li
		display: flex
		margin-bottom: 25px
	b
		+mb
	&__pic
		position: relative
		display: inline-block
		vertical-align: top
		width: 40px
		height: 40px
		min-width: 40px
		min-height: 40px
		background-color: $red
		+rotate(45)
		svg
			display: inline-block
			vertical-align: top
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%) rotate(-45deg)
			max-height: 30px
			max-width: 30px
			fill: #fff
		.m-03
			transform: translate(-64%, -64%) rotate(-45deg)
		.m-08
			transform: translate(-50%, -50%) rotate(-90deg)
	&__text
		display: flex
		align-items: center
		margin-left: 20px

.skew
	position: relative
	height: 530px
	width: 80%
	transform: skew(11deg)
	will-change: transform
	+r(1024)
		max-width: 426px
	+r(650)
		width: calc(90% - 20px)
	+r(500)
		width: calc(90% - 75px)
	+r(450)
		display: none
	&-y
		position: absolute
		top: -10px
		left: -10px
		width: 100%
		height: 100%
		background-color: #f6f6f6
		&:before
			content: ''
			position: absolute
			top: -2px
			bottom: -2px
			right: 0
			width: calc(100% + 2px)//:todo
			background-color: $yellow
			z-index: -1
		&:after
			content: ''
			position: absolute
			bottom: 0px
			left: -2px
			right: -2px
			height: calc(100% + 2px)//:todo
			background-color: $yellow
			z-index: -1
	&-r
		position: absolute
		top: 10px
		right: 0px
		left: 10px
		height: calc(100% - 11px)
		background-color: #f6f6f6
		&:before
			content: ''
			position: absolute
			top: -2px
			bottom: -2px
			right: -6px
			width: calc(100% + 6px) //:todo
			background-color: $red
			z-index: -1
		&:after
			content: ''
			position: absolute
			bottom: -6px
			left: -2px
			right: -2px
			top: 0
			width: calc(100% + 8px)//:todo
			background-color: $red
			z-index: -1
	&__pic
		position: relative
		overflow: hidden
		width: 100%
		height: 100%

		// display: none
	&__img
		position: absolute
		top: 50%
		left: 50%
		transform: translate3d(-53%, -43%, 0,) skew(-11deg)// scale(1.2)
		max-width: none

.check
	position: relative
	display: inline-block
	input
		position: absolute
		top: 2px
		left: 0
		z-index: 2
		opacity: 0
		&:checked
			~ span
				user-select: none
				&:before
					background-color: #fff
				&:after
					content: ""
					position: absolute
					top: 4px
					left: 4px
					display: inline-block
					vertical-align: top
					width: 10px
					height: 8px
					background-image: url('../img/content/icon-selector-checked.png')
					// @include bg(icon-selector-checked)
					// +s(icon-selector-checked)
		&:disabled
			~ span
				opacity: 1
	span
		position: relative
		padding-left: 28px
		left: 0
		top: 0
		font-size: 14px
		color: #fff
		cursor: pointer
		user-select: none
		+mr
		z-index: 15
		+r(380)
			display: inline-block
			max-width: 88vw
		&:before
			content: ""
			position: absolute
			top: -1px
			left: 0
			width: 18px
			height: 18px
			background-color: #fff
			border-radius: 100%
			border: 1px solid $yellow
			cursor: pointer
			+tr(.4s)

.ppp
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	align-items: center
	justify-content: center
	display: none
	z-index: -100
	&.is-active
		display: flex
		z-index: 1000
	&__shadow
		+coverdiv
		background-color: rgba(0, 0, 0, .9)
	&__content
		position: relative
		width: 100%
		max-width: 584px
		max-height: 80vh
		background-color: #fff
		padding: 30px 20px 40px
		text-align: center
		border-radius: 10px
		overflow: hidden
		display: none
		&.is-active
			display: block
	mark
		background-color: $n
		color: $red
	.btn
		margin: 0 auto
	.check
		position: relative
		span
			color: $black



.to-center
	text-align: center

