
<footer class="footer"></footer>

<!-- ppp -->
<div class="ppp">
	<div class="ppp__shadow"></div>
	<div class="ppp__content" id="register">
		<div class="btn-close"></div>
			<h2 class="title__p" role="heading" aria-level="2">title</h2>
			<form action="/" method="post" class="register">
				<fieldset class="register__fieldset">
					<input type="email"  id="p-email">
					<label for="p-email">E-mail<sup>*</sup></label>
					Напомнить мне о мастер-классе по смс
				</fieldset>
				<fieldset class="register__fieldset">
					<button class="btn js-ppp" data-ppp="register">оставить заявку</button>
				</fieldset>
			</form>
	</div>
</div>