
<footer class="footer">
	<div class="layout">
		<a href="/" class="logo">
			<strong>DIMA KOVPAK</strong>
		</a>
		<ul class="footer__list">
			<li><a href="#">Условия оказания услуг</a></li>
			<li><a href="#">Условия возврата</a></li>
			<li><a href="#">О компании</a></li>
		</ul>
	</div>
</footer>

<!-- ppp -->
<div class="ppp ">
	<div class="ppp__shadow"></div>
	<div class="ppp__content" id="register">
		<button class="btn-close js-close"></button>
			<h2 class="title__p" role="heading" aria-level="2">Оставляй заявку в форме ниже,<br><mark>и мы расскажем детали!</mark></h2>
			<form action="/" method="post" class="register">
				<fieldset class="register__fieldset">
					<input type="email"  id="p-email">
					<label for="p-email">E-mail<sup>*</sup></label>
				</fieldset>
				<label class="check" for="p-check">
					<input type="checkbox" id="p-check">
					<span>Напомнить мне о мастер-классе по смс</span>
				</label>
				<fieldset class="register__fieldset to-center">
					<button class="btn js-ppp" data-ppp="register">оставить заявку</button>
				</fieldset>
			</form>
	</div>
</div>