
<div class="section section-gray">
	<div class="layout to-center">
		<h2 class="title__main" role="heading" aria-level="2">ПРО ДИМУ КОВПАКА <mark>ГОВОРЯТ:</mark></h2>
		<ul class="clients">
			<li><img src="static/img/content/cl-01.png" alt="client"></li>
			<li><img src="static/img/content/cl-02.png" alt="client"></li>
			<li><img src="static/img/content/cl-03.png" alt="client"></li>
			<li><img src="static/img/content/cl-04.png" alt="client"></li>
			<li><img src="static/img/content/cl-05.png" alt="client"></li>
			<li><img src="static/img/content/cl-06.png" alt="client"></li>
			<li><img src="static/img/content/cl-07.png" alt="client"></li>
			<li><img src="static/img/content/cl-08.png" alt="client"></li>
		</ul>

		<div class="carusel">
			<div class="carusel__item">
				<img src="static/img/content/pic-01.jpg" alt="piture">
			</div>
			<div class="carusel__item">
				<img src="static/img/content/pic-01.jpg" alt="piture">
			</div>
			<div class="carusel__item">
				<img src="static/img/content/pic-01.jpg" alt="piture">
			</div>
			<div class="carusel__item">
				<img src="static/img/content/pic-01.jpg" alt="piture">
			</div>
		</div>
		<div class="carusel-nav">
			<div class="carusel-nav__arrow carusel-nav_prev">
				<svg version="1.1"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;"  xml:space="preserve">
					<g>
						<path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
							L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
							c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
					</g>
				</svg>
			</div>
			<div class="carusel-nav__arrow carusel-nav_next">
				<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;"  xml:space="preserve">
					<g>
						<path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
							L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
							c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
					</g>
				</svg>
			</div>
		</div>

	</div>
</div>
