<div class="hero">
	<div class="layout">
		<div class="place">
			<div class="place__date">
				<p><strong>13 ИЮНЯ </strong>20:00 МСК / КИЕВ</p>
			</div>
			<div class="place__name">
				<h1 class="title__main" role="heading" aria-level="1"><mark> 13 ОШИБОК КОТОРЫЕ СТОИЛИ МНЕ $400 000,</mark> ЛИЧНЫЙ ОПЫТ ЗАПУСКА БИЗНЕСА С КИТАЕМ НА КАЧЕСТВЕННЫХ ТОВАРАХ </h1>
			</div>
		</div>
		<form action="/" method="post" class="contact">
			<fieldset class="contact__fieldset">
				<input type="email"  id="h-email">
				<label for="h-email">E-mail<sup>*</sup></label>

			</fieldset>
			<label class="check" for="h-check">
				<input type="checkbox" id="h-check">
				<span>Напомнить мне о мастер-классе по смс</span>
			</label>
			<fieldset class="contact__fieldset">
				<button class="btn ">ЗАРЕГИСТРИРОВАТЬСЯ НА МАСТЕР-КЛАСС</button>
			</fieldset>
		</form>
	</div>
</div>
