

<div class="section section-gray">
	<div class="layout to-center">
		<h2 class="title__main" role="heading" aria-level="2">ПРИХОДИ НА МАСТЕР-КЛАСС, <mark> ЧТОБЫ УЗНАТЬ:</mark></h2>
		<ol class="know">
			<li><p>Как найти поставщика который вас <mark>не кинет</mark> </p></li>
			<li><p> <mark>3 ключевые ошибки</mark> при общение с китайцами </p></li>
			<li><p> <mark>3 смертных греха</mark> при выборе товара  </p></li>
			<li><p> Как <mark>перестать терять деньги</mark> на логистике </p></li>
			<li><p> Как <mark>не потерять деньги</mark> при оплате в Китае </p></li>
			<li><p> Как <mark>продать контейнер товара</mark>, который не продается </p></li>
		</ol>
		<button class="btn js-ppp" data-ppp="register">хочу учавствовать в онлайн-встрече</button>
	</div>
</div>
